
/*media tab*/

@media screen and  (min-width:680px) and (max-width:1024px)  {
   .contenernav{
    flex-direction: row;
    
   }
   .contenernav a {
    width: 25%;
   }
   .contenerSection3 {
      flex-direction:; 
   }

   /*section2*/
   .contenerSection3Part1{
      flex-direction:;
   }
   .contenerSection3Part1 img{
      width: 60%
     

   }

   .plusDinfo{
      
   }
   .newsletters{
     
   }

  
   /*section4*/
   
   .contenersection4-logo {
      justify-content: space-around;
      width:75% ;   
     
  }
  
   /*footer*/
   .contener-foot2{
      width: ;
      justify-content: space-between;

   }
}

/*fin media tab*/


/*media computer*/

@media screen and (min-width:1024px) {
   /*header----------------------------------------------*/
   .contenernav {
    flex-direction: row;
   }
   .contenernav a {
    width: 25%;
   }
   .contenernav ul{
    justify-content: space-around;
   }
   /*section2-------------------------------------------*/
   .contenerSection3Part1 {
      flex-direction: row;
   }
   .contenerSection3Part1 img{
      width: 30%;
      height: 60%;
      margin-bottom: auto;
   }

   .plusDinfo{
      width: 40%;
      height: 60%;
      margin-bottom: auto;
   }
   .newsletters{
      width: 30%;
      height: 60%;
      margin-bottom: auto;
   }

   /*section3--------------------------------------------*/

   .contenerSection3Part2{
      flex-direction: row;
      justify-content: space-between;
   }
   .section3div1{
      width: 30%;
   }
   .section3div2{
      width: 30%;
   }
   .section3div3{
      width: 30%;
   }
   /*section4--------------------------------------------*/
   .contenersection4-logo {
      justify-content: space-around;
      width:75% ; 
   } 
   /*footer---------------------------------------------*/
   .contener-foot2{
      
   }
}
/*fin media computer*/