.flux {
    margin-left: 25px;
    margin-right: 25px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lora", serif;

  }
ul{
    list-style-type: none;
}
h2{
    text-align: left;
    
}

/* css nav*/

.contenernav{
    display: flex;
    align-items: center;
    font-weight: bolder;
    margin-bottom: 40px;
    flex-direction: column; 
    margin-top:20px 

}
.contenernav img{
}


.contener2{
    display: flex;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    

}
a {
    text-decoration: none;
    font-weight:;
    color: inherit;
}

nav a {
    color: black;

}
img{
    width: 130px;
    height: 90px;
}
/*fin css nav */
/*css section1 */
.contenersection2 {
    display: flex;
    background-color: #7A354A;
    
}
.contenersection2Right {
    display: flex;
    flex-direction: column;

    background-color: #a8aeeb;
}

.contenersection2Left{
    background-color: #F1A93A;
    width: 30%;
}
/*fin css section1 */

/*debut css section2 */
.contenerSection3Part1{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 20px;
    justify-content:space-between ;
    background-color:#a8aeeb ;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.contenerSection3Part1 img{
    width: 90%;
    height:60% ;
    margin-bottom: 40px;
  
}
.shadow
{
  -moz-box-shadow: 4px 4px 10px #888;  
  -webkit-box-shadow: 4px 4px 10px #888;  
  box-shadow:4px 4px 6px #888;
}
.contenerSection3Part1 h2 h3{
    font-family: 'Amatic SC', cursive;

}
.plusDinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
}
.plusDinfo p{
    font-weight: bolder;
    font-family: 'Amatic SC', cursive;;

}
.newsletters{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
    
}
.newsletters input{
    padding: 10px;
}




/*fin css section2 */

/*css section3*/

.contenerSection3Part2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    text-align: center;
    flex-direction: column;
}
.contenerSection3Part2 h2{
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    
}
.contenerSection3Part2 li, p, h3, h4 {
    margin-bottom: 20px;
    text-align: center;
}
.contenerSection3Part2 button{
    padding: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 20px;
}
.section3div1 button{
    background-color:#7A354A ;
    color: #FFFFFF;
    

}

.section3div2 button{
    background-color: #D84F61;
    color: #FFFFFF;
    margin-top: 20px;
    
}

.section3div3 button{
    background-color:#64b055 ;
    color: #FFFFFF;
    margin-top: 20px ;
   


}
.section3div1{

    background-color: #D84F61;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.section3div2{
    background-color:#7A354A ;
    color: #FFFFFF;
    text-align: center;
    padding: 30px;

}

.section3div3{
    background-color:#F1A93A ;
    padding:30px;

}
/*fin css section3*/

/*css section4 */

.contenersection4{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   
    
}
.contenersection4-logo {
    display: flex;
    justify-content:space-between;
    width:;
    margin-bottom: 20px;
}

.contenersection4-logo div{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bouttonSection4 button{
    color: rgb(250, 249, 253);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #293075;
    border-radius: 10px;
}
.contenersection4 h2{
    font-family: 'Amatic SC', cursive;
    font-weight: 30px;
    font-size: 30px;


}
.contenersection4-logo h2{
    color: rgb(7, 97, 7);
}
.contenersection4-logo p {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10px;
}
.contenersection4 img {
    width: 90px;
    height: 90px;

    margin-bottom: 30px;
}
/*fin css section4*/
 

/*css footer*/

.contener-foot{
    display: flex;
    flex-direction: column;
    background-color: #a8aeeb;
    color: aliceblue;
    padding: 30px;
    border-radius: 10px;
 

}
.contener-foot1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: antiquewhite;
    align-items: center ;
    text-align: center;
}
.contener-foot1 h2{
    text-transform: uppercase;
}

.contener-foot2{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    text-align: center;
    margin-top: 60px;
   
}
.logofooter {
    width: 30px;
    height: 30px;
}


 footer a {
    color: rgb(238, 206, 163);
 }

