@media screen and (max-width:680px) {
    .contenernav {
        flex-direction: column;
    

    }
    nav .contener2{
        width: 50%;
        justify-content: space-between;

     ;
        
    }
    .contener-foot1{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .contener-foot2 {
    
    }
}

@media screen and  (min-width:680px) and (max-width:1024px)  {
    .contenernav {

        justify-content: space-between;
    }
    nav .contener2{
        width: 75%;
    }
    
}