.contenerheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    margin-bottom: 40px;


}

.contener2{
    display: flex;
    text-align: center;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    width: 50%;
    justify-content: space-between;

}
a {
    text-decoration: none;
    font-weight:;
    color: inherit;
}
*{
    margin: 0px;
    padding: 0px;
}
header a {
            color: black;

}
img{
    width: 130px;
    height: 90px;
}
/*css section4 */
.contenersection4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenersection4-logo {
    display: flex;
    justify-content:space-around;
    width: 100%;
    margin-bottom: 50px;
}
.contenersection4-logo div{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.bouttonSection4{
    background-color:#425592 ;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    padding: 10px;
    margin: 50px;

}
.contenersection4 h2{
    font-family: 'Amatic SC', cursive;
    font-weight: 50px;
   font-size: 50px;


}
.contenersection4-logo h2{
    color: rgb(7, 97, 7);
}
.contenersection4-logo p {
    text-transform: uppercase;
    font-weight: bolder;
}
.contenersection4 img {

    margin-bottom: 50px;
}
/*fin css section4*/
 

/*css footer*/

.contener-foot{
    display: flex;
    flex-direction: column;
    background-color: #425592;
    color: aliceblue;
    padding: 60px;
    
 

}
.contener-foot1{
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
}
.contener-foot2{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    align-items: center ;
    margin-top: 60px;
    width: 30%;
}
.logofooter {
    width: 30px;
    height: 30px;
}



 ul{
    list-style-type: none;
 
 }
 footer a {
    color: antiquewhite;
 }
 footer div{
    display: flex;
    flex-direction: column;

}



h2{
    text-align: left;
    display: block;
}

.contener-foot1 h2{
    text-transform: uppercase;
}